<!DOCTYPE html>
<html lang="ch" xml:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <script src="js/transfer.js"></script>
</head>
<body>
<form action="/tran/query" method="post">
    付款账户：<input type="text" name="payAccountId"/><br>
    收款账户：<input type="text" name="recAccountId"/><br>
    交易日期：<input type="date" name="transactionTime"/><br>
    状态：<input type="text" name="transactionStatus"/><br>
    <input type="button" value="提交" />
</form>

</body>
</html>