<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>success</title>
</head>
<body>
    <table>
        <tr>
            <th>交易流水号</th>
            <th>付款账户</th>
            <th>收款账户</th>
            <th>交易时间</th>
            <th>交易金额</th>
            <th>交易状态</th>
        </tr>
        <tr th:each="transaction:${session.transactions}">
            <td th:text="${transaction.getTransactionNo()}"></td>
            <td th:text="${transaction.getPayAccountId()}"></td>
            <td th:text="${transaction.getRecAccountId()}"></td>
            <td th:text="${transaction.getTransactionTime()}"></td>
            <td th:text="${transaction.getTransactionAmount()}"></td>
            <th:block th:if="${transaction.getTransactionStatus()==1}">
                <td th:text="正常"></td>
            </th:block>
            <th:block th:if="${transaction.getTransactionStatus()==2}">
                <td th:text="失败"></td>
            </th:block>
            <th:block th:if="${transaction.getTransactionStatus()==3}">
                <td th:text="银行处理"></td>
            </th:block>

        </tr>
    </table>
</body>
</html>