<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.org.jjdmn.bank.persistence.TransactionMapper">
    <cache />

    <select id="queryByCondition" resultType="com.org.jjdmn.bank.pojo.Transaction">
        select * from transaction
            <where>
                <if test="payAccountId!=0">
                    and payAccountId=#{payAccountId}
                </if>
                <if test="recAccountId!=0">
                    and recAccountId=#{recAccountId}
                </if>
                <if test="transactionTime!=''">
                    and transactionTime like concat(#{transactionTime},'%')
                </if>
                <if test="transactionStatus!=0">
                    and transactionStatus=#{transactionStatus}
                </if>
            </where>
             order by transactionTime desc
    </select>

    <select id="countNumber" resultType="java.lang.Integer">
        select count(*) from transaction
        <where>
            <if test="payAccountId!=0">
                and payAccountId=#{payAccountId}
            </if>
            <if test="recAccountId!=0">
                and recAccountId=#{recAccountId}
            </if>
            <if test="transactionTime!=''">
                and transactionTime like CONCAT(#{transactionTime},'%')
            </if>
            <if test="transactionStatus!=0">
                and transactionStatus=#{transactionStatus}
            </if>
        </where>
        order by transactionTime desc
    </select>
</mapper>